/**
 * Tableless Layout for default template
 *
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author moraes <moraes@tipos.com.br>
 */

/* -------------- top row --------------- */
div.dokuwiki .header {
  padding: 3px 0 0 2px;
}

// @TODO pagename stuff no longer needed?
div.dokuwiki .pagename {
  float: right;
  font-size: 200%;
  font-weight: bolder;
  color: __background_alt__;
  text-align: left;
  vertical-align: middle;
}

// @TODO pagename stuff no longer needed?
div.dokuwiki .pagename a {
  color: __extern__ !important;
  text-decoration: none !important;
}

div.dokuwiki .logo {
  float: left;
  font-size: 220%;
  font-weight: bolder;
  text-align: right;
  vertical-align: middle;
  margin: 4px 0 10px 10px;
}

div.dokuwiki .logo a {
  color: __background_alt__ !important;
  text-decoration: none !important;
  font-variant: small-caps;
  letter-spacing: 2pt;
}

/* ---------------  top and bottom bar ---------------- */
div.dokuwiki .bar {
//  border-top: 1px solid __border__;
//  border-bottom: 1px solid __border__;
  background: __background_alt__;
//  padding: 0.1em 0.15em;
  clear: both;
}

div.dokuwiki .bar-left {
  margin: 0;
  padding: 0;
}
div.dokuwiki .bar-left ul {
  margin: 0 1em 0 0;
  padding: 0;
  list-style-image: none;
  list-style-type: none;
  line-height: 2em;
}
div.dokuwiki .bar-left li {
  display: inline;
  margin: 0;
  padding: 0;
}
div.dokuwiki .bar-left .li {
  display: inline;
  margin: 0;
  padding: 0;
}
div.dokuwiki .bar-left .li a {
  margin: 0;
  padding: 0.4em 1em 0.5em 1em;
  color: __tab_text__ !important;
  border: none !important;
  background-image: none;
}
// @TODO: Move to style?
div.dokuwiki .bar-left li a:hover {
  background-color: __background_neu__;
}
div.dokuwiki .search input.edit {
  margin: 3px;
  border: 0;
  padding: 2px;
  width: 12em;
  background: __background_neu__;
  text-align: right;
  border-radius: 4px;
  -moz-border-radius: 4px;
}
div.dokuwiki .search input.button {
  margin: 2px;
  border: 0;
  padding: 0;
  height: 1.2em;
  background: none;
}

div.dokuwiki .bar-left {
  float: left;
}

div.dokuwiki .bar-right {
  float: right;
  text-align: right;
}

/*
div.dokuwiki #bar__bottom {
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 3px;
}
*/

/* ------------- Main ----------------------- */

body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  background: __background__;
  /*min-width: 30em;*/
}

div.dokuwiki #kc-start {
  max-width: 50em;
  padding: 0 1em;
  margin: 0 auto;
}

div.dokuwiki #kc-nocol {
  padding: 1em;
  margin: 0 auto;
}

div.dokuwiki #kc-colmask {
  position: relative;
  clear: both;
  float: left;
  width: 100%;
  overflow: hidden;
  background: __background_neu__;
}

div.dokuwiki #kc-colleft {
  float: left;
  width: 200%;
  position: relative;
  left: 13em;
  background: __background__;
}

div.dokuwiki #kc-col1wrap {
  float: right;
  width: 50%;
  position: relative;
  right: 13em;
  padding-bottom: 1em;
}

div.dokuwiki #kc-col1 {
  margin: 1em 1em 0 14em;
  position: relative;
  right: 100%;
  overflow: visible; /* hidden->visible because safari would cut off last pixel */ 
}

div.dokuwiki #kc-col2 {
  margin-top: 1em;
  float: left;
  width: 11em;
  position: relative;
  right: 12em;
}

div.dokuwiki #kc-footer {
  background-color: __background_neu__;
  clear: both;
}

/* ------------- Action menu ----------------------- */

div.dokuwiki #kc_menu {
  position: fixed;
  line-height: 2em;
  top: 0;
  right: 0;
  padding: 0.02em;
  margin: 0;
  list-style-image: none;
  list-style-type: none;
  border: 0;
  border-left: 1px solid __border__;
  border-bottom: 1px solid __border__;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  background: __background_neu__;
  color: __text_alt__;
}
div.dokuwiki #kc_menu li {
  display: inline;
}
div.dokuwiki #kc_menu li:first-child a {
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
}
div.dokuwiki #kc_menu a {
  padding: 0.46em 0.6em;
}
div.dokuwiki #kc_menu a:hover {
  background: __background_alt__;
}

div.dokuwiki div.header div.user {
  position: absolute;
  right: 1em;
  top: 1em;
  color: __text_alt__;
  font-size: 70%;
}
div.dokuwiki div.user a:link,
div.dokuwiki div.user a:visited {
  color: __text_neu__;
  text-decoration: none;
}
div.dokuwiki div.user a:hover {
  color: __text__;
  text-decoration: none;
}

/* ------------- File Metadata ----------------------- */

div.dokuwiki div.meta {
  clear: both;
  margin: 0;
  padding: 0 0.7em;
  color: __text_alt__;
  font-size: 70%;
  text-align: right;
}
div.dokuwiki div.meta a:link,
div.dokuwiki div.meta a:visited {
  color: __text_neu__;
  text-decoration: none;
}
div.dokuwiki div.meta a:hover {
  color: __text__;
  text-decoration: none;
}

